@keyframes showWeather {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.currentWeather {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px lightgrey;
    border-radius: 1em;
    padding: 0.8rem;
    margin: 1rem;
    transition: 0.5s;
    animation: showWeather 1s linear;
    background-color: white;

    &_city {
        font-weight: 700;
        font-size: 1.5rem;
    }

    &_mainInfo {
        display: flex;
        justify-content: space-around;
        align-items: center;


        &_temp {
            font-size: 1.5rem;
            font-weight: 700;
        }


        & > img {
            width: 6.5rem;
        }



      

        
    }
    
    &_windspeed {
        font-size: 0.8rem;
        font-weight: 600;
    }

    &_windDirection {
        font-weight: 600;
        font-size: 0.8rem;

    }

    &_updated {
        font-size: 0.6rem;
        font-style: italic;
    }

    &:hover {
        transform: scale(1.05);
    }
}

.inactive {
    opacity: 0.5;
    filter: blur(0.7px);
}