html {
    scroll-behavior: smooth;
}

body {
   
    user-select: none;
}

h1 {
    color: blue;
    
}

.locationContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

